@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 2rem;
    font-family: 'Roboto',sans-serif;
}
/* main{
    background-color: aqua;
    width:50%
} */
p {
    background-color: lightgray;
    margin: 50px 90px;
}
.opposite {
    display: inline-block;
background-color: aquamarine;
color:black;
padding: 20px; ;
margin-top:20px ;
}
ul {
    list-style-type:none ;
    padding-left: 0.5rem;
    text-align: right;
    background-color: black;
    margin:0;
}
li {
    display: inline-block;
    margin-inline: 0.5rem;
}
li a{
    color:azure;
    text-decoration: none;
}
li a:hover,li a:focus {
    color: yellow;
}
 